{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "regenerator": true,
        "corejs": false,
        "helpers": true,
        "useESModules": false
      }
    ]
  ]
}
